PORT=4000
JWT_SECRET=f31ced564a0beacbfcf3d02a866eaeb291ef83f5d871a6b2cdd1ed6e8a0c64a1
MONGODB_URI=mongodb+srv://alokgiri1926_db_user:<Alok@8578>@cluster0.xu6bfhv.mongodb.net/?appName=Cluster0
NODE_ENV=development
